@import "tailwindcss";

:root {
  --background: #162725;
  --main-element: #1c2c2a;
  --end-focus-gradient: #6c9b3f;
  --start-focus-gradient: #93bd61;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */
/* @theme background{
   --background: #2B2A33;

} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #2B2A33;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  /* background: url(/dashboard_splash.jpg); */
  /* background: linear-gradient(to bottom, var(--background) 0 50%, black 50% 100%); */
  /* color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}
